
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.raleway {
  font-family: "Raleway", sans-serif;
}

.hero {
    background-image: url('images/banner.png');
}

li{
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 10px;
  font-size: large;
  color: black;
  gap: 24px;
 

}